extends layout

block content
  nav.navbar.navbar-dark.bg-primary.mb-4
    .container
      a.navbar-brand(href="#") #{title}

  .container
    form.row.g-2.justify-content-center.mb-4(id="createForm" method="post" action="/values")
      .col-auto
        input.form-control(type="text" name="value" id="value" placeholder="Value" maxlength=32)
      .col-auto
        button.btn.btn-success(type="submit") Submit

    .row.justify-content-center
      .col-md-6
        ul.list-group(id="list")
          li.list-group-item.active Values
          each val, uuid in values
            li.list-group-item.d-flex.justify-content-between.align-items-center(id=uuid)
              span= val
              button.btn.btn-danger.btn-sm(data-id=uuid onclick="deleteItem(this)") Delete

  .modal.fade(id="errorModal" tabindex="-1" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Error
          button.close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body(id="errorField")
        .modal-footer
          button.btn.btn-danger.btn-sm(type="button" data-bs-dismiss="modal") Close
