doctype html
html
  head
    title="NodeJS MongoDB demo"
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/flatly/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css')
    //if lt IE 9
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.ie.min.css')
    link(rel='stylesheet', href='/css/demo.css')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js")
    script(src="/js/demo.js")
  body
    block content
    block foot
